<% content_for :title, "Two-Way Utility" %>

<%
  pane_query_expr = "'conference=' + encodeURIComponent($twconference || 'all') +
    '&team=' + encodeURIComponent($twteam || '') +
    '&risk=' + encodeURIComponent($twrisk || 'all')"

  sync_url_expr = "const nextUrl = '/tools/two-way-utility?' + (#{pane_query_expr}); if ((window.location.pathname + window.location.search) !== nextUrl) { window.history.replaceState({}, '', nextUrl); }"

  signals_literal = {
    twconference: @conference.to_s,
    twteam: @team.to_s,
    twrisk: @risk.to_s,
    overlaytype: "none",
    overlayid: ""
  }.to_json
%>

<div
  id="two-way-utility-workspace"
  class="h-screen w-full flex flex-col overflow-hidden bg-background"
  style="height: 100dvh;"
  data-signals='<%= raw(signals_literal) %>'
  data-effect="<%= sync_url_expr %>"
>
  <div id="flash"></div>

  <%= render partial: "tools/two_way_utility/commandbar" %>

  <div id="viewport" class="flex flex-1 overflow-hidden relative">
    <%= render partial: "tools/two_way_utility/workspace_main" %>

    <aside
      id="rightpanel"
      class="w-[30%] min-w-[320px] max-w-[480px] border-l border-border bg-background overflow-hidden relative"
    >
      <div
        id="rightpanel-base-layer"
        class="absolute inset-0 overflow-y-auto overflow-x-hidden overscroll-y-contain scroll-touch pt-2 px-4 pb-4"
      >
        <%= render partial: "tools/two_way_utility/rightpanel_base" %>
      </div>

      <%= render partial: "tools/two_way_utility/rightpanel_clear" %>
    </aside>
  </div>
</div>

<% content_for :head_scripts do %>
  <script type="module">
    import "tools/two_way_utility";
  </script>
<% end %>
